<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MacRooms</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <div class="Title">
        <h1>Discover Empty Rooms at<div style="color: #aa002b"> McMaster</div></h1></div>
        <form action="/" method="post">
    <div class="IN">
          <div style="width: 50%;margin-left: 10px;">
            <input name="time"  id="time" type="time" class="ghost-input" placeholder="Enter a Time (ex: 11:00PM)" style="width: 100%;">
            
          </div>
          
          <div style="width: 35%;">
          <input name="rcode" type="search" placeholder="Building Code" class="ghost-input" list="build"/>
          <datalist id="build">
            <option>ABB</option>
            <option>BSB</option>
            <option>CNH</option>
            <option>DBAC</option>
            <option>DSB</option>
            <option>GH</option>
            <option>HH</option>
            <option>HSC</option>
            <option>ITB</option>
            <option>IAHS</option>
            <option>IWC</option>
            <option>JHE</option>
            <option>KTH</option>
            <option>LRW</option>
            <option>MDCL</option>
            <option>TSH</option>
            <option>UH</option>
            <option>T13</option>
            <option>ETB</option>
          </datalist>
    
        </div>
          
          </div>
          <div class="IN">
          <div style="width: 50%;margin-left: 10px;">
            <input name="day" type="search" class="ghost-input" placeholder="Enter a Day (ex: Monday)" list="days" required="" style="
    width: 100%;"/>
            <datalist id="days">
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
            
            </datalist>
          </div>
          <div style="width: 35%;">
    <input name="term" type="text" list="terms" class="ghost-input" placeholder="Enter a Term" required="">
    <datalist id = "terms">
      <option value="1">Fall</option>
      <option value="2">Winter</option>
      <option value="3">Summer</option>
    </datalist>
        </div>
          
          </div>
          <input type="submit" class="ghost-button" value="List EmptyRooms">
          
          <button id="ins" class="accordion" style="width:100%">Instructions</button>
          <div class="panel" style="width:100%">
                <img src="https://i.imgur.com/7SMbMls.jpg" alt="instructions" width="925" height="473">
              </div>
        </form>
        

            <% if(roomse !== null){%>
              <% if(show){%>"
        <div class="infotab" Style="width:28%; padding-left:30px"><p Style="font-size: 20px; ">Time: <%=t%></p> </div>
        <div class="infotab" Style="width:28%"><p Style="font-size: 20px;">Day: <%=d%></p> </div>
        <div class="infotab" Style="width:23%; padding-left:50px"><p Style="font-size: 20px; ">Term: <%=m%></p> </div>
        <div class="infotab" Style="width:23%"><p>Room</p> </div>
        <div class="infotab" Style="width:33%"><p>Occupation</p> </div>
        <div class="infotab" Style="width:23%"><p>Lecture</p> </div>
              <% } %>
            <ul style="width:23%;">
            <% for(var i=0; i < roomse.length; i++){ %>
              <li style="padding:18px 18px 18px 0px; line-height: 20px"> <%= roomse[i] %></li>
              
    
            <% } %>
          </ul>
         
          <ul style="width:33%;-webkit-padding-start: 20px;">
            <% for(var i=0; i < roomse.length; i++){ %>
              <button class="accordion" style="width:88%"><%=lt[i][0]%></button> 
              <div class="panel">
               <% for(var j=0; j < lt[i].length;j++){ %>
               
                  <li style="padding:5px 0px; font-size:15px"><%= lt[i][j] %></li>
               
               <% } %>  
              </div>
              <% } %>
            
          </ul>
          <ul style="width:23%; -webkit-padding-start: 34px;">
            <% for(var i=0; i < roomse.length; i++){ %>
              <button class="accordion" style="width:130%"><%=c[i][0]%></button> 
              <div class="panel" style="width:100%">
                <% for(var j=0; j < c[i].length; j++){%>
                  <li style="padding:5px 0px; font-size:15px"><%= c[i][j] %></li>
                <% } %>
              </div>
              
            <% } %>
        
          </ul>
        <% } else { %>
          <p>All Rooms Occupied</p>
          <% } %>
        
        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>

// $("#time").click(function(){
                 
//             $(this).prop('type', 'time');

//       });
</script>